@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Festive&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Festive&family=Lobster&family=Prata&display=swap');

body{
    background: white;
}
footer {
   height: auto;
   margin-top: 10%
   
     
}
.Margin {
    margin-left: 15px;
    gap: 15px;
}

.TitleHome {
    font-family: 'Caveat', cursive;
}
.TitleNavbar {
    font-family: 'Lobster', cursive;

}
.TitleAccordion{
    text-align: center;
    font-family: 'Prata', serif;

}
.TextBody {
    font-family: Arial, Helvetica, sans-serif;
}
.PersonagensPrincipais {
    margin-top: 6%;
}
.PersonTitle {
    margin-bottom: 5%;
}